<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	">
	<context:component-scan base-package="com.homework.foshan.service"></context:component-scan>
	<!-- 数据库连接池 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/foshan?characterEncoding=utf-8" />
		<property name="username" value="root" />
		<property name="password" value="123456" />
		<property name="maxActive" value="10" />
		<property name="maxIdle" value="5" />
	</bean>
	
	<!-- Mybatis的工厂 -->
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:sqlMapConfig.xml"/>
	</bean>
	


	
	<!-- Mapper动态代理开发   扫描 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 基本包 -->
		<property name="basePackage" value="com.homework.foshan.mybatis"/>
	</bean>
	

	
<!-- 控制层 -->
	<bean name="loginAction" class="com.homework.foshan.action.LoginAction" scope="prototype">
		<property name="loginservice" ref="loginservice"></property>
		
	</bean>
	<bean name="businessshow" class="com.homework.foshan.action.Businessshow" scope="prototype">
		<property name="businessservice" ref="businessservice"></property>
	</bean>
	<bean name="foodshow" class="com.homework.foshan.action.Foodshow" scope="prototype">
		<property name="foodservice" ref="foodservice"></property>
		<property name="businessservice" ref="businessservice"></property>
		<property name="orderservice" ref="orderservice"></property>
		<property name="loginservice" ref="loginservice"></property>
	</bean>
	
	<bean name="ordershow" class="com.homework.foshan.action.Ordersure" scope="prototype">
		<property name="orderservice" ref="orderservice"></property>
		<property name="loginservice" ref="loginservice"></property>
		<property name="businessservice" ref="businessservice"></property>
	</bean>
	
</beans>



		